html,
body {
  padding: 0;
  margin: 00;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.navbar {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  margin: 0rem;
  padding: 0rem;
}

.navbar > ul {
  display: flex;
  list-style-type: none;
  margin: 0.25rem;
  padding: 0.5rem;
}
